body { background: #f9b6fb; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 39px; display: flex; }
.block-sms-0 { color: #24ca98; font-size: 15px; margin-bottom: 5px; }
.block-validator-1 { color: #fec3b1; font-size: 15px; margin-bottom: 5px; }
.block-filter-2 { color: #9ee699; font-size: 15px; margin-bottom: 5px; }
.block-user-3 { color: #fabcac; font-size: 12px; margin-bottom: 5px; }
.block-config-4 { color: #1dcb89; font-size: 20px; margin-bottom: 5px; }
.block-product-5 { color: #6c489; font-size: 14px; margin-bottom: 5px; }